@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'UbuntuRegular';
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
}



*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'OpenSansLight', arial, sans-serif;
  /*font-family: 'OpenSansRegular', arial, sans-serif;*/
  /*font-family: 'Ubuntu', sans-serif;*/
  font-weight: 300;

  letter-spacing: 0.09em;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.blockquote {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  /*font-size: 0;*/
  margin-right: -10px;
  margin-left: -10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  /*display: inline-block;*/
  float: left;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

/************************************************
UTILITY CLASSES
/************************************************/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**************************************************
THEME LEVEL
/**************************************************/
::-moz-selection {
  background: rgba(255, 76, 0, 0.53);
}

::selection {
  background: rgba(255, 76, 0, 0.53);
}

.paragraph {
  padding: 0;
  margin: 0;
  font-size: 18px;
  /*text-shadow: .5px 1px 1px rgba(0, 0, 0, 0.28);*/
}

.section {
  display: block;
  padding: 40px 0;
}

.section-headline {
  padding: 16px 0;
  margin: 0;
}

.headline {
  padding: 0 0 30px;
  margin: 0;
  text-shadow: 1.5px 3px 0px rgba(0, 0, 0, 0.18);
  font-family: 'UbuntuRegular', arial, sans-serif;
  font-weight: 400;
  font-size: 26px;
}

.headline-featured {
  padding: 20px 0;
  text-align: center;
  font-size: 32px;
  color: #232328;
}

.headline-sub {
  font-size: 20px;
  padding-bottom: 10px;
}

.experience,
.myKindaTown,
.currentlyWorkingOn {
  background: rgb(250, 250, 250);
  color: #232328;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.testimonials,
.workExamples,
.whyILoveWeb {
  background: #e2e2e6;
  color: #232328;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.contact {
  background: #47474c;
  color: rgb(250, 250, 250);
}

.textHighlight {
  color: rgb(255, 134, 83);
}

.bullet {
  position: relative;
  top: -2px;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: #232328;
  border-radius: 5px;
}

/************************************************
HERO
/************************************************/
.hero {
  background: #232328;
  background-image: url('../images/building-pattern-br6.jpg');
  background-size: cover;
  color: #fff;
}

.hero_opaqueOnMobile {
  padding: 8px 0 23px;
  background: rgba(17, 17, 17, 0.8);
}

.container-header {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1500px;
}

.hero_name {
  margin: 0;
  padding: 10px 0 20px;
  font-size: 19px;
  font-family: 'OpenSansLight';
  /*font-family: 'Ubuntu', sans-serif;*/
  /* must restate letter spacing here
  now that font-family must be redeclared */
  letter-spacing: 0.09em;
}

.hero_nameA {
  color: inherit;
  text-decoration: none;
}

.hero_nav {
  display: none;
}

.container-bio {
  padding: 0 20px;
}

.hero_bio {
  margin: 0 auto;
  font-size: 19px;
}

/************************************************************
EXPERIENCE
/************************************************************/
.experience_company {
  padding: 30px 0 82px;
  border-top: 2px solid #ccc;
}

/********************************************************************
TESTIMONIAL
/********************************************************************/

.testimonials_blockquote {
  margin: 0 0 10px;
}

.testimonials_cite {
  display: block;
  margin: 0 0 15px 20px;
}

.testimonials_iconContainer {
  display: none;
}

/******************************************************************
PROJECTS
/*****************************************************************/
.projects_row {
  padding: 0 0 30px;
}

.projects_techsUsed {
  padding: 20px 0 0;
  margin: 0;
  list-style-type: none;
  /*font-family: 'OpenSansLight';*/
  font-family: 'UbuntuRegular', arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  /*text-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.28);*/
}

.projects_technology {
  display: inline-block;
}

.projects_imageContainer {
  margin: 0 auto;
  position: relative;
}

.projects_image {
  display: block;
  margin: 0 auto;
}

.projects_imageContainer,
.projects_image {
  width: 277px;
}

.projects_imageScreen {
  position: absolute;
  top: 64px;
  left: 44px;
  width: 198px;
}

/******************************************************************
WORK EXAMPLES
/*****************************************************************/
.workExamples_example {
  padding: 30px 0;
  border-top: 2px solid #BBBBBB;
}

.workExamples_firstExample {
  padding: 0 0 30px;
  border-top: none;
}

.workExamples_lastExamples {
  padding: 30px 0 0;
}

.workExamples_techsUsed {
  padding: 10px 0 0;
  margin: 0;
  list-style-type: none;
  /*font-family: 'OpenSansLight';*/
  font-family: 'UbuntuRegular', arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  /*text-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.28);*/
}

.workExamples_technology {
  display: inline-block;
}

/****************************************************************
CONTACT
/****************************************************************/
.contact {
  color: rgb(250, 250, 250);
}

.contact_headline {
  padding: 0 0 20px;
}

.contact_bodyCopy {
  padding: 0 0 10px;
}

.contact_element {
  display: inline-block;
  padding: 8px 6px;
}

.contact_link {
  display: block;
  color: inherit;
  text-decoration: none;
  height: 100%;
}

.contact_icon {
  position: relative;
  top: 9px;
  width: 30px;
}

/****************************************************************
FOOTER
/****************************************************************/
.footer {
  background: #232328;
  color: #fff;
}

.container-footer {
  padding: 0 30px;
  max-width: 1500px;
}

.copyright {
  padding: 14px 0;
  display: block;
  float: left;
  margin: 0;
}

.footer_nav {
  list-style-type: none;
  float: right;
  font-size: 0;
}

.footer_navLi {
  font-size: 14px;
  display: inline-block;
}

.footer_navA {
  height: 52px;
  line-height: 49px;
  padding: 0 20px;
  color: inherit;
  text-decoration: none;
}

/******************************************************************
/******************************************************************
MEDIA QUERIES
/******************************************************************/
@media (min-width: 576px) {
  .col-contactEl {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  .paragraph {
    font-size: 20px;
  }

  /******************************************************************
  HERO
  /******************************************************************/
  .container-header {
    padding: 0 25px;
  }

  .hero {
    padding: 0;
    background-image: url('../images/building-pattern-br6.jpg');
    background-position: 0 -74px;
    height: 560px;
  }

  .hero_opaqueOnMobile {
    padding: 0;
    background: none;
  }

  .hero_name {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 23px;
  }

  .hero_nameA {
    display: block;
    height: 51px;
    line-height: 51px;
  }

  .hero_nav {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 0;
    text-align: center;
    list-style-type: none;
    float: right;
  }

  .hero_navLi {
    font-size: 14px;
    display: inline-block;
  }

  .hero_nameA,
  .hero_navLi,
  .contact_link,
  .footer_navA:hover {
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }

  .hero_nameA:hover,
  .hero_navLi:hover,
  .contact_link:hover,
  .footer_navA:hover {
    color: rgb(255, 134, 83);
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6), 0px 0px 35px rgba(0, 0, 0, 0.19);
  }

  .hero_navA {
    display: block;
    height: 51px;
    line-height: 48px;
    padding: 0 25px;
    color: inherit;
    text-decoration: none;
  }

  .hero_header {
    background: rgba(0, 0, 0, 0.6);
    background: rgba(17, 17, 17, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 1), 0px 0px 35px rgba(0, 0, 0, 0.19);
  }

  .container-bio {
    padding: 0 100px;
  }

  .hero_bio {
    padding: 8px 17px 16px;
    margin: 144px auto 0;
    max-width: 1024px;
    font-size: 22px;
    background: rgba(0, 0, 0, 0.8);
    background: rgba(17, 17, 17, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.08);
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.82), 0px 0px 35px rgba(0, 0, 0, 0.42);
  }

  /*************************************************************
  PROJECTS
  /*************************************************************/
  
  .projects_imageContainer,
  .projects_image {
    width: 400px;
  }

  .projects_imageScreen {
    position: absolute;
    top: 93px;
    left: 63px;
    width: 285px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .hero_bio {
    font-size: 26px;
  }

  /***********************************************
  EXPERIENCE
  /***********************************************/
  .col-experienceCompanyName {
    width: 25%;
  }

  .col-experienceParagraph {
    width: 75%;
  }

  /******************************************************************
  PROJECTS
  /******************************************************************/
  .col-projectHeadline {
    width: 25%;
  }
  
  .col-projectDescription {
    width: 75%;
  }

  .projects_row {
    padding: 0 0 45px;
  }

  .projects_imageContainer {
    padding-bottom: 50px;
  }
  
  .projects_imageContainer,
  .projects_image {
    width: 506px;
  }

  .projects_imageScreen {
    position: absolute;
    top: 117px;
    left: 79px;
    width: 361px;
  }

  /*******************************************************
  WORK EXAMPLES
  /*******************************************************/
  .col-examplesName {
    width: 25%;
  }

  .col-examplesDescription {
    width: 75%;
  }

  .workExamples_techsUsed {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .container {
    /*width: 1140px;*/
    width: 1024px;
  }

  .paragraph {
    /*font-size: 20px;*/
  }

  .hero {
    width: 100%;
    height: 100vh;
  }

  .hero_bio {
    margin: 37vh auto 0;
    /*font-size: 26px;*/
  }

  /****************************************************
  TESTIMONIALS
  /****************************************************/
  .testimonials {
    /*position: relative;*/
  }

  .testimonials_quote {
    position: relative;
    z-index: 1;
    padding: 15px 20px;
    background: #fff;
    color: #232328;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.42);
    /*border: 1px solid rgba(0, 0, 0, 0.34);*/
  }

  .testimonials_openQuoteMarks {
    position: relative;
    top: 2px;
    font-size: 38px;
    line-height: 25px;
    margin-right: 17px;
  }

  .testimonials_backShape {
    display: inline-block;
    width: 70%;
    padding: 15px;
    margin: 0 0 30px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.65);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .testimonials_backShape1 {
    float: left;
    background: #ff4f1a;
    /*background: -webkit-linear-gradient(#ff4f1a, #ff5d0a);
    background: -moz-linear-gradient(#ff4f1a, #ff5d0a);
    background: -o-linear-gradient(#ff4f1a, #ff5d0a);
    background: linear-gradient(#ff4f1a, #ff5d0a);*/
    margin: 0 84px 76px 0;
  }

  .testimonials_backShape2 {
    float: right;
    /*background: #ffab0f;*/
    background: #686878
  }

  .testimonials_iconContainer {
    display: inline-block;
    width: 20%;
    margin: 107px 0 0;
    background: #fff;
    padding: 29px;
    vertical-align: top;
    border-radius: 142px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.65);
  }

  .testimonials_iconContainer2 {
    margin-right: 84px;
  }

  .testimonials_icon {
    position: relative;
    top: 10px;
    width: 100%;
  }

}
