@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'OpenSansLight', arial, sans-serif;
  letter-spacing: 0.09em;
}

::-moz-selection {
  background: rgba(255, 76, 0, 0.53);
}

::selection {
  background: rgba(255, 76, 0, 0.53);
}

.blockquote {
  margin: 0;
}

/************************************************
UTILITY CLASSES
/************************************************/
.container {
  margin: 0 auto;
  padding: 0 20px;
}

.container-header {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1500px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**************************************************
THEME LEVEL
/**************************************************/
.headline {
  padding-bottom: 10px;
  text-shadow: 1.5px 3px 0px rgba(0, 0, 0, 0.18);
  font-family: 'OpenSansRegular';
}

.rule {
  border: none;
  height: 3px;
}

.section {
  padding: 15px 0;
}

.zeetoIntro,
.myKindaTown,
.currentlyWorkingOn {
  background: #fff;
  color: #232328;
}

.section-bio,
.zeetoTestimonials,
.bankrate,
.signupLogic,
.whyILoveWeb {
  background: #a1a1a5;
  color: #fff;
}

.textHighlight {
  color: rgb(255, 134, 83);
}

/************************************************
HERO
/************************************************/
.hero {
  padding: 7px 0 30px;
  background: #232328;
  background-size: cover;
  color: #fff;
}

.hero_name {
  margin: 0;
  padding: 10px 0 20px;
  font-size: 19px;
  font-family: 'OpenSansLight';
  /* must restate letter spacing here
  now that font-family must be redeclared */
  letter-spacing: 0.09em;
}

.hero_nav {
  display: none;
}

.container-bio {
  padding: 0 20px;
}

.hero_bio {
  margin: 0 auto;
  font-size: 19px;
}

/********************************************************************
TESTIMONIAL
/********************************************************************/
.testimonialCite {
  display: block;
}

/****************************************************************
FOOTER
/****************************************************************/
.footer {
  background: #232328;
  color: #fff;
}

.container-footer {
  padding: 0 30px;
  max-width: 1500px;
}

.copyright {
  padding: 14px 0;
  display: block;
  float: left;
  margin: 0;
}

.footer_nav {
  list-style-type: none;
  float: right;
  font-size: 0;
}

.footer_navLi {
  font-size: 14px;
  display: inline-block;
}

.footer_navA {
  height: 52px;
  line-height: 49px;
  padding: 0 20px;
  color: inherit;
  text-decoration: none;
}

/******************************************************************
/******************************************************************
MEDIA QUERIES
/******************************************************************/
@media (min-width: 576px) {
  /**/
}

@media (min-width: 768px) {

  /******************************************************************
  HERO
  /******************************************************************/
  .container-header {
    padding: 0 25px;
  }

  .hero {
    padding: 0;
    background-image: url('../images/building-pattern-br6.jpg');
    height: 560px;
  }

  .hero_name {
    margin: 0;
    padding: 10px 0 7px;
    float: left;
    font-size: 22px;
  }

  .hero_nav {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 0;
    text-align: center;
    list-style-type: none;
    float: right;
  }

  .hero_navLi {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }

  .hero_navLi:hover {
    color: rgb(255, 142, 94);
    text-shadow: none;
  }

  .hero_navA {
    height: 51px;
    line-height: 48px;
    padding: 0 25px;
    color: inherit;
    text-decoration: none;
  }

  .hero_header {
    background: rgba(0, 0, 0, 0.6);
    background: rgba(17, 17, 17, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.82), 0px 0px 35px rgba(0, 0, 0, 0.19);
  }

  .container-bio {
    padding: 0 100px;
  }

  .hero_bio {
    padding: 14px 23px 23px;
    margin: 144px auto 0;
    max-width: 1024px;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.8);
    background: rgba(17, 17, 17, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.08);
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.82), 0px 0px 35px rgba(0, 0, 0, 0.42);
  }
}

@media (min-width: 992px) {
  .hero_bio {
    font-size: 26px;
  }
}

@media (min-width: 1200px) {
  .hero {
    width: 100%;
    height: 100vh;
  }

  .hero_bio {
    margin-top: 38vh;
    font-size: 28px;
  }
}
