* {
  font-family: arial, sans-serif;
}

body {
  /*michael cavs*/
  /*background: #232328;*/
  /*color: rgb(226, 224, 217);*/
}

.headline {
  /*michael cavs*/
  /*color: #ae7045;*/
}

.rule {
  border: none;
  height: 3px;

  /*michael cavs*/
  /*background: #ae7045;*/
}

/*
font ideas
on google fonts
- Proxima Nova https://www.sqreen.io

color ideas
- dark blue background
- white text
- aqua green highlights
https://www.wecraftapps.com/?ref=land-book.com

Michael Cavs colors
grey background #232328
white text
gold highlights
http://callmecavs.com

michaelsolorio.com/casa-valle

envato marketplace

*/